body {
    margin: 0;
    background-color: #D3D3D3;
}

.navbar {
    background-color: #34495E;
    color: white;
    height: 100px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.zoom-menu {
    margin-left: 20px;
    margin-right: 50px;
    text-align: center;
}

.select-menu {
    margin-right: 50px;
}

.edit-box {
    border: 2px dashed #34495E;
    width: 600px;
    height: 500px;
    color: #34495E; 
    margin-left: 20px; 
    margin-top: 100px;
    text-align: center;
}

.edit-box img {
    position: absolute;
    left: 0;
    margin-left: 10px;
    /* transition: transform 0.3s ease; Animare pentru zoom */
    transform-origin: top left;
}