body {
  margin: 0;
  background-color: #D3D3D3;
}

.navbar {
  background-color: #34495E;
  color: white;
  height: 120px;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

button {
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.1s ease;
}

button:hover {
  background-color: #004085; 
}

.menu {
  padding-left: 10px;
  padding-right: 30px;
  text-align: center;
}

#edit-box {
  border: 2px dashed #34495E;
  width: 600px;
  height: 500px;
  color: #34495E; 
  margin-left: 20px; 
  margin-top: 140px;
  text-align: center;
}

.ascundere-text {
  display: none;
}

#canvas {
  position: absolute;
  left: 0;
  margin-left: 10px;
  transform-origin: top left;
}

#histograma {
  border: 1px solid #ccc;
  margin-left: 1000px;
}
